 body{
    font-family: sans-serif;
    background-color: #7C00F8;
}

h1{
    text-align: center;
    background-color: #00FFA3;
    color: #FF0000;
}

img{
    height: 300px;
    width: 500px;
    background-color: #00FF57;
}
a{
    
    color:white;
}
